

.scrollable{
  height: 450px;
  overflow-y: scroll;
}
.scrollable th select{
  padding:5px;
}

.table-condensed{
  font-size: 10px;
}

.table-condensed1{
  font-size: 10px;
}

.hidden {
  visibility: hidden;
}
.contenedor{
  min-height:  500px
}