<ng-template [ngIf]="isSubtable && formato!=null" [ngIfElse]="normalTable" >
    <sub-tabla
    #tablaB *ngIf="formato"
    [titulo]="titulo"
    [datosService]="datosService"
    [getAll]="getAll"
    [formato]="formato"
    [templateFila]="undefined"
    [smallTable]="false"
    [softDelete]="false"
    (crearNuevo)="null"
    (alCrear)="alCrear.emit($event)"
    (alActualizar)="null"
    (alFiltrar)="null"
    (alEditar)="alEditar.emit($event)"
    [campoEstado]="campoEstado"
    [valueEstado]="valueEstado"
    (alHabilitar)="alHabilitar.emit($event)"
    (alDeshabilitar)="alDeshabilitar.emit($event)"
    (alEliminar)="alEliminar.emit($event)"
    (alImportar)="alImportar.emit($event)"
    (alExportar)="alExportar.emit($event)"
    [conOpciones]="conOpciones"
    [botonImportar]="botonImportar"
    [botonExportar]="botonExportar"
    [botonNuevo]="botonNuevo"
    [soloLectura] = "soloLectura"
    ></sub-tabla>
</ng-template>

<ng-template #normalTable >
  <tabla-normal *ngIf="formato"
  #tablaA
  [titulo]="titulo"
  [datosService]="datosService"
  [getAll]="getAll"
  [formato]="formato"
  [templateFila]="undefined"
  [smallTable]="false"
  [softDelete]="false"
  (crearNuevo)="null"
  (alCrear)="alCrear.emit($event)"
  (alActualizar)="null"
  (alFiltrar)="null"
  (alEditar)="alEditar.emit($event)"
  [campoEstado]="campoEstado"
  [valueEstado]="valueEstado"
  (alHabilitar)="alHabilitar.emit($event)"
  (alDeshabilitar)="alDeshabilitar.emit($event)"
  (alEliminar)="alEliminar.emit($event)"
  (alImportar)="alImportar.emit($event)"
  (alExportar)="alExportar.emit($event)"
  [conOpciones]="conOpciones"
  [botonImportar]="botonImportar"
  [botonExportar]="botonExportar"
  [botonNuevo]="botonNuevo"
  [soloLectura] = "soloLectura"
  ></tabla-normal>
</ng-template>
